*{
    outline: 1px solid red;
}
body{
    margin: 0;
}
*{
    scrollbar-width: thin;
}
header{
    display: flex;
    background-color: white;
    width: 100%;
    height: 70px;
    align-items: center;
    outline: 1px solid lightgrey;
}
.threeLines{
    position: absolute;
    left: 10px;
    width: 40px;
}
.personInfo{
    position: absolute;
    right: 20px;
    width: 20px;
}
.info{
    position: absolute;
    top: 25px;
    right: 60px;
    width: 23px;
}
#infoMsg{
    position: absolute;
    top: 40px;
    right: 28px;
    background-color: white;
    border-radius: 10px;
    width: 290px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 10px;
    font-family: Calibri;
    color: darkslategrey;
    z-index: 9990;
    outline: 1px solid dimgrey;
    display: none;
}
.todayTag{
    position: absolute;
    left: 110px;
    background-color: lightgray;
    color: dimgrey;
    font-family: Calibri;
    font-weight: bold;
    padding: 11px;
    border-radius: 15px;
    /*background-color: white;
    outline: 1px solid grey;*/
}
.todayTag:hover{
    cursor: pointer;
    transition: 100ms;
    transform: scale(0.96);
}
.DateUpdate{
    position: absolute;
    left: 320px;
    font-family: Calibri;
    font-size: 21px;
}
.box{
    display: flex;
    flex-direction: row;
}
.container1{
    width: 301px;
    height: 90vh;
    background-color: white;
    display: flex;
    justify-content: center;
}
.calendar{
    position: absolute;
    left: 10px;
}
.calculateExpense{
    position: absolute;
    top: 410px;
    background: linear-gradient(45deg, #00BFFF, #007FFF);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-family: Calibri;
    font-size: 17px;
    font-weight: bold;
    width: 160px;
    color: white;
    padding: 2px;
    box-shadow: 1px 2px 4px dimgrey;
}
.calculateExpense:hover{
    cursor: pointer;
    transform: scale(1.05);
}
#calculateExpenseImg{
    width: 45px;
    height: 46px;
}
#showEstimate{
    position: absolute;
    top: 481px;
    width: 250px;
    height: auto;
    min-height: 150px;
    border-radius: 10px;
    font-family: "Century Schoolbook";
    font-size: 14px;
    background: linear-gradient(45deg, floralwhite,white, floralwhite);
    h4{
        margin-top: 10px;
        margin-bottom: 15px;
        opacity: .7;
    }
    h3{
        display: flex;
        justify-content: center;
    }
    #totalExpense{
        position: relative;
        top: 5px;
        color: red;
    }
    display: none;
}
.container2{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 2%;
    background: linear-gradient(45deg,aqua, hotpink);
    height: 89vh;
    @media(max-width: 800px){
        height: 594px;
    }
    overflow-y: scroll;
}
.expense{
    margin-top: 2%;
    min-height: 80px;
    /*max-height: 80px;*/
    height: 90px;
    border-radius: 10px;
    align-content: center;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    overflow: auto;
    font-family: "Century Schoolbook";
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    h5,h4{
        margin-bottom: -6px;
        padding-left: 10px;
        border-radius: 5px;
        opacity: .6;
    }
    display: none;
    overflow-y: hidden;
}
#expenseFooter{
    position: relative;
    top: 40px;
    right: 20px;
    font-size: 12px;
}
.addNew {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
#plus{
    width: 50px;
    height: 48px;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#plus:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0ms;
}
.labelValue{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding-left: 15px;
    padding-bottom: 5px;
    font-size: 22px;
    color: black;
}
.label11{
    position: relative;
    top: 16px;
}
.label12{
    position: relative;
    top: 25px;
    color: red;
}
.label13, .label14{
    display: none;
}
.expense:hover, .threeLines:hover, .personInfo:hover, .info:hover{
    cursor: pointer;
    transform: scale(1.01);
    transition: transform 0ms;
}
.labelValue:hover, .label11:hover, .label12:hover{
    cursor: pointer;
}
#infoBlock:hover #infoMsg{
    display: block;
}