{
    outline: 2px solid red
}
*{
    scrollbar-color: transparent transparent;
    scrollbar-width: none;
}
body{
    overflow-x: hidden;
    user-select: none;
    height: 90vh;
    background: linear-gradient(to bottom, aqua, aqua );
}
#vp1{
    height: 90vh;
    width: 100vw;
    background: linear-gradient(to bottom, deepskyblue, aqua );
    font-family: Calibri, sans-serif;
    position: relative;
    left: -8px;
    top: -30px
}
nav{
    background-color:rgb(255,255,255,.9);
    width:100vw;
    height:60px;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
#logo{
    position: absolute;
    left: 40px;
    height: 30px;
    width: 30px;
    opacity: 0.85;
}
nav h3{
    position: absolute;
    left: 80px;
    opacity: .3;
    font-family: Arial, sans-serif;
    font-size: 17px;
}
#signIn{
    position: relative;
    left: 40%;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: red;
}
#signIn:hover {
    cursor: pointer;
    color: #A91B0D;
}
.Name{
    position: relative;
    top: 250px;
    left: 7%;
    font-family: Calibri, sans-serif;
    width: 50%;
}
.Name h1{
    font-size: 50px;
    background: linear-gradient(45deg,midnightblue,darkblue,black,hotpink);
    background-clip: text;
    color: transparent;
}
.Name h2{
    font-size: 42px;
    position: relative;
    top: -20px;
}
.Name p{
    position: relative;
    top: -40px;
    width: 80%;
    padding-left: 5px;
    font-weight: bold;
    font-size: 18px;
}
#user-interact-header{
    position: absolute;
    top: 160px;
    right: 190px;
    font-size: 26px;
    font-family: Calibri, sans-serif;
}
.user-interact{
    position: absolute;
    top: 245px;
    right: 7.5%;
    align-items: center;
    height: 260px;
    width: 350px;
}
#name{
    position: relative;
    width: 97%;
}
#email{
    position: relative;
    top: 20px;
    width: 97%;
}
#password{
    position: relative;
    top: 40px;
    width: 97%;
}
#phoneNumberBlock{
    position: relative;
    top: 60px;
}
#signInAlternate, #forgotPassword{
    position: relative;
    top: 25px;
    color: blue;
    display: none;
}
form p{
    text-align: center;
}
#signInAlternate:hover, #forgotPassword:hover{
    cursor: pointer;
}
.input{
    height: 45px;
    width: 85%;
    border: none;
    outline: none;
    font-size: 16px;
    padding-left: 10px;
}
.input::placeholder{
    font-size: 15px;
    font-family: Arial, sans-serif;
}
form button{
    position: absolute;
    top: 280px;
    width: 100%;
    height: 45px;
    border: none;
    background-color: orangered;
    color: white;
}
form button:hover{
    cursor: pointer;
    background-color: #A91B0D;
    transition: background-color 500ms;
}
#noAccount{
    position: absolute;
    width: 100%;
    color: darkred;
    top: 325px;
    display: none;
}
#eyeOpen{
    display: none;
}
#eyeOpen:hover, #eyeClose:hover{
    cursor: pointer;
}

input[type="password"]::-webkit-textfield-decoration-container {
    display: none;
}
/* Hide the eye icon in password fields for Edge */
input[type="password"]::-ms-reveal {
    display: none;
}

@media(max-width: 1000px){
    .Name h2{
        font-size: 36px;
        top: -30px;
    }
    .Name p{
        font-size: 15px;
        top: -45px;
    }
}
@media(max-width: 900px){
    #vp1{
        height: 950px;
    }
    .Name{
        top: 200px;
        width: 700px;
        left: calc(50% - 350px);
        text-align: center;
    }
    .Name p{
        width: 95.5%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .user-interact-box{
        position: absolute;
        top: 250px;
        left: calc(50% + 175px);
    }
    #user-interact-header{
        width: 350px;
        left: calc(50% - 350px);
        text-align: center;
    }
}
@media(max-width: 700px){
    .Name{
        width: 600px;
        left: calc(50% - 300px);
    }
   .Name h1{
       font-size: 36px;
   }
    .Name h2{
        font-size: 28px;
    }
    #logo{
        left: 20px;
        height: 25px;
        width: 25px;
    }
    nav h3{
        left: 50px;
        font-size: 13px;
    }
}
@media(max-width: 550px){
    #vp1{
        height: 850px;
    }
    body{
        background: linear-gradient(to bottom, aqua, lightskyblue, aqua);
        height: 105vh;
    }
    .Name{
        width: 400px;
        left: calc(50% - 200px);
        top: 200px;
    }
    .Name h1{
        font-size: 35px;
        background: linear-gradient(45deg,midnightblue,darkblue,#070214, midnightblue,red);
        background-clip: text;
    }
    .Name h2{
        top: -15px;
        font-size: 21px;
    }
    .Name p{
        font-size: 12px;
        top: -20px;
        padding-left: 35px;
        padding-right: 35px;
        width: 82.5%;
        text-align: center;
        font-weight: normal;
    }
    #user-interact-header{
        top: 180px;
        font-size: 17px;
        font-weight: normal;
        text-transform: uppercase;
    }
    #subHeading{
        top: 700px;
    }
    .input, #india, #password{
        outline: 1px solid black;
    }

    #signIn{
        font-size: 13px;
    }
    #signInAlternate, #forgotPassword{
        top: 35px;
        font-size: 13px;
    }
}